<ion-view>
    <ion-content class="aboutus has-header" overflow-scroll="false">
	<div class="row row-center aboutus-header">
			<div class="col">
			<p>
			  Why choose us?
			</p>
		</div>
	</div>
	
    <div class="row row-center">
		<div class="col">
			
			<div class="row row-center"><div class="col">
				<p> 
					<span>
					  <strong>History and experience:</strong><br>
					</span>
					<span>
						We’ve been in the market for decades and we’ve gathered technical experience throughout the years which allowed us to offer quality paints to various markets.
					</span>
				</p>
			</div></div>
			
			<div class="row row-center"><div class="col">
				<p> 
					<span>
					  <strong>Wide range of products:</strong><br>
					</span>
					<span>
						We’re one of the few paint companies that offer a wide variety of products satisfying any customer demand from architectural and decorative paints to industrial coatings and automotive refinishing.
					</span>
				</p>
			</div></div>
			
			<div class="row row-center"><div class="col">
				<p> 
					<span>
					  <strong>Research and development:</strong><br>
					</span>
					<span>
						Our engineers and qualified technicians work constantly to ensure the development of new products meeting high standards and the improvement of our existing range.
					</span>
				</p>
			</div></div>
			
			<div class="row row-center"><div class="col">
				<p> 
					<span>
					  <strong>Technical service and tailored products:</strong><br>
					</span>
					<span>
						Our strong point is the technical support we offer to clients as well as the capacity to answer any product or color demand.
					</span>
				</p>
			</div></div>
			
			<div class="row row-center"><div class="col">
				<p> 
					<span>
					  <strong>Customer satisfaction:</strong><br>
					</span>
					<span>
						We believe that true customer satisfaction is realized by mixing three ingredients: excellent quality, competitive prices and superior customer service.
					</span>
				</p>
			</div></div>

			<div class="row row-center"><div class="col">
				<p> 
					<span>
					  <strong>International certification:</strong><br>
					</span>
					<span>
						We are certified ISO 9001 to guarantee the best management of our company providing high quality paints with international standards.
					</span>
				</p>
			</div></div>
			
        </div>
	</div>
	
	</ion-content>
</ion-view>
