<ion-view>
    <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button> 
    <ion-nav-title>
        <div class="bar bar-header">
            <h1 class="title">
                <p ng-bind="formData.carName">
            </h1>
            
        </div>
    </ion-nav-title>
    
    <ion-nav-buttons side="right">
        <button class="button button-clear amazona-logout-button" ng-click="doLogout()">
            <i class="icon ion-log-out"></i>
        </button>
    </ion-nav-buttons>


  <ion-content class="amazona-colorlist amazona-colorlist-left-right-padding has-header" overflow-scroll="false">
	<style>
	.amazona-separation-bar{
		color: {{chosenGarage.theme_color}};
	}
	.button.button-positive.amazona-show-color-button{
		border-color: {{chosenGarage.theme_color}};
		color: {{chosenGarage.theme_color}};
	}
	</style>
	<ion-list>
		<!-- Filter div-->
		<div>
			 <ion-item class="item-stable amazona-filter-tab"
                    ng-click="toggleFilter()"
                    ng-class="{active: isFilterClicked()}">
				<div class = "row">
					<div class = "col">
						<!-- <i class="icon ion-ios-color-filter"></i> -->
						<i class="icon ion-funnel"></i>
						&nbsp;Filter:&nbsp;
						<span ng-show="formulas.allFormulas !== undefined && formulas.allFormulas.length>0">
							{{pageData.filter.choice}} ({{filteredItems.length}}/{{formulas.allFormulas.length}})
						</span>
						
						<span ng-show="formulas.allFormulas === undefined || formulas.allFormulas.length === 0">
							{{pageData.filter.choice}} ({{filteredItems.length}})
						</span>
					</div>
					<div class = "col" style="text-align:right"><i class="icon" ng-class="isFilterClicked() ? 'ion-minus' : 'ion-plus'"></i></div>
				</div>  
			</ion-item>
			<ion-item class="item-accordion amazona-filter-tab-content amazona-no-padding" ng-show="isFilterClicked()">
				<div class="row amazona-no-padding">
					<div class="col amazona-no-padding">
						<ion-radio name="filter" ng-model="pageData.filter.choice" ng-value="'ALL'">ALL</ion-radio>
					</div>
					<div class="col amazona-no-padding">
						<ion-radio name="filter" ng-model="pageData.filter.choice" ng-value="'BC'">BC</ion-radio>
					</div>
					<div class="col amazona-no-padding">
						<ion-radio name="filter" ng-model="pageData.filter.choice" ng-value="'2K'" 
							ng-show="chosenGarage.coat==='2K'"
							class="amazona-padding-bottom-right">2K</ion-radio>
						<ion-radio name="filter" ng-model="pageData.filter.choice" ng-value="'LS'" 
							ng-show="chosenGarage.coat==='LS'" 
							class="amazona-padding-bottom-right">LS</ion-radio>
					</div>
				</div>
				
		    </ion-item>
		</div>
		<!---------->
		<!-- Sorting div-->
		<div>
			 <ion-item class="item-stable amazona-sorter-tab"
                    ng-click="toggleSorter()"
                    ng-class="{active: isSorterClicked()}">
				<div class = "row">
					<div class = "col">
						<i class="icon ion-ios-color-filter"></i>
						&nbsp;Sort&nbsp;
						<span ng-show="pageData.sort.chosenSort.type !== ''">{{pageData.sort.chosenSort.type}}</span>
						<i ng-show="pageData.sort.chosenSort.type !== ''" class="radio-icon disable-pointer-events icon 
						{{pageData.sort.chosenSort.arrowClass}}"></i>
					</div>
					<div class = "col" style="text-align:right"><i class="icon" ng-class="isSorterClicked() ? 'ion-minus' : 'ion-plus'"></i></div>
				</div>  
			</ion-item>
			<ion-item class="item-stable amazona-formula amazona-colorlist-sorting-tab" ng-show="isSorterClicked()">
				<div class="row amazona-no-padding">
					<div class="col amazona-no-padding">
						<div class="row amazona-no-padding">
							<div class="col amazona-no-padding">
									<div class="row amazona-no-padding {{pageData.sort.codeSelectedClass}} amazona-padding-left-2" ng-click="clickCode()">	
										<div class="col col-67 amazona-no-padding amazona-padding-top-bottom-5">	
												<span class="amazona-ellipsis">
													Code
												</span>
										</div>
										<div class="col col-33 amazona-no-padding amazona-padding-top-bottom-5">	
											<i class="radio-icon disable-pointer-events icon {{pageData.sort.arrowClass}}" ng-show="isCodeSortClicked()"></i>
										</div>
										
									</div>
							</div>
							<div class="col amazona-no-padding">
									<div class="row amazona-no-padding {{pageData.sort.typeSelectedClass}}" ng-click="clickType()">	
										<div class="col col-67 amazona-no-padding amazona-padding-top-bottom-5">	
												<span class="amazona-ellipsis">
													Type
												</span>
										</div>
										<div class="col col-33 amazona-no-padding amazona-padding-top-bottom-5">	
											<i class="radio-icon disable-pointer-events icon {{pageData.sort.arrowClass}}" ng-show="isTypeSortClicked()"></i>
										</div>
										
									</div>
							</div>
							<div class="col amazona-no-padding">
									<div class="row amazona-no-padding {{pageData.sort.nameSelectedClass}}" ng-click="clickName()">	
										<div class="col col-67 amazona-no-padding amazona-padding-top-bottom-5">	
												<span class="amazona-ellipsis">
													Name
												</span>
										</div>
										<div class="col col-33 amazona-no-padding amazona-padding-top-bottom-5">	
											<i class="radio-icon disable-pointer-events icon {{pageData.sort.arrowClass}}" ng-show="isNameSortClicked()"></i>
										</div>
										
									</div>
							</div>
							<div class="col amazona-no-padding">
									<div class="row amazona-no-padding {{pageData.sort.yearSelectedClass}}" ng-click="clickYear()">	
										<div class="col col-67 amazona-no-padding amazona-padding-top-bottom-5">	
												<span class="amazona-ellipsis">
													Year
												</span>
										</div>
										<div class="col col-33 amazona-no-padding amazona-padding-top-bottom-5">	
											<i class="radio-icon disable-pointer-events icon {{pageData.sort.arrowClass}}" ng-show="isYearSortClicked()"></i>
										</div>
										
									</div>
							</div>
							<div class="col amazona-no-padding">
									<div class="row amazona-no-padding {{pageData.sort.hueSelectedClass}}" ng-click="clickHue()">	
										<div class="col col-67 amazona-no-padding amazona-padding-top-bottom-5">	
												<span class="amazona-ellipsis">
													Hue
												</span>
										</div>
										<div class="col col-33 amazona-no-padding amazona-padding-top-bottom-5">	
											<i class="radio-icon disable-pointer-events icon {{pageData.sort.arrowClass}}" ng-show="isHueSortClicked()"></i>
										</div>
										
									</div>
							</div>
							<div class="col amazona-no-padding">
									<div class="row amazona-no-padding {{pageData.sort.cardSelectedClass}}" ng-click="clickCard()">	
										<div class="col col-67 amazona-no-padding amazona-padding-top-bottom-5">	
												<span class="amazona-ellipsis">
													Card
												</span>
										</div>
										<div class="col col-33 amazona-no-padding amazona-padding-top-bottom-5 amazona-no-left-border">	
											<i class="radio-icon disable-pointer-events icon {{pageData.sort.arrowClass}}" ng-show="isCardSortClicked()"></i>
										</div>
										
									</div>
							</div>
							<div class="col amazona-no-padding amazona-max-width-6">
								<div class="row amazona-no-padding" ng-click="cancelSort()">	
									<div class="col amazona-no-padding amazona-cancelSort">	
										<i class="disable-pointer-events icon ion-close-circled"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ion-item>
		</div>
		<!---<ion-scroll>----->
		<div ng-repeat="group in formulas.groups | filter:filterFunction(pageData.filter.choice,group.type):group.type | orderBy:getChosenSort():pageData.chosenSortReverse as filteredItems">
			  <ion-item class="item-stable amazona-formula"
						ng-click="toggleGroup(group)"
						ng-class="{active: isGroupShown(group)}" 
						data-color="{{group.colorCode}}"
						data-name="{{group.name_formula}}">
						
				<div class="row amazona-no-padding">	
					<div class="col col-80 amazona-no-padding amazona-ellipsis">	
							<span class="amazona-font-title">
								<span>{{group.colorCode}}</span> 
								<span class="amazona-separation-bar">|</span> 
								<span>{{group.name_formula}}</span> 
								<span class="amazona-separation-bar">|</span> 
								<span>{{group.version}}</span> 
							</span>
					</div>
					<div class="col col-20 amazona-no-padding amazona-ellipsis">
						<div class="row amazona-no-padding">
							<div class = "col amazona-no-padding amazona-colorlist-basic-color" >
								<img class="amazona-arrow" src="img/core/arrow.png" >
							</div>
						</div>
					</div>
					
				</div>
			  </ion-item>
			  
				<ion-item class="item-accordion amazona-formula-detail" ng-show="isGroupShown(group)">
					<label class="item item-input">
							<span class="amazona-info-span-title">Type</span>
							<span class="amazona-info-span-value type-color">{{group.type}}</span>
					</label>
				</ion-item>
				<ion-item class="item-accordion amazona-formula-detail" ng-show="isGroupShown(group)">
					<label class="item item-input amazona-text-expander">
							<span class="amazona-info-span-title">Name</span>
							<span class="amazona-info-span-value">{{group.name_formula}}</span>
					</label>
				</ion-item>
				<ion-item class="item-accordion amazona-formula-detail" ng-show="isGroupShown(group)">
					<label class="item item-input">
							<span class="amazona-info-span-title">Year</span>
							<span class="amazona-info-span-value">{{group.c_year}}</span>
					</label>
				</ion-item>
				<ion-item class="item-accordion amazona-formula-detail" ng-show="isGroupShown(group)">
					<label class="item item-input">
							<span class="amazona-info-span-title">Hue</span>
							<span class="amazona-info-span-value">{{group.version}}</span>
					</label>
				</ion-item>
				<ion-item class="item-accordion amazona-formula-detail" ng-show="isGroupShown(group)">
					<label class="item item-input">
							<span class="amazona-info-span-title">Card</span>
							<span class="amazona-info-span-value">{{group.cardNumber}}</span>
					</label>
				</ion-item>
				<ion-item class="item-accordion amazona-formula-detail" ng-show="isGroupShown(group)">
				
					<div class = "row">
					   <div class = "col amazona-colorlist-variant" ng-repeat="variant in group.variants" style="background-image:url('img/core/variants/{{variant.variantImg}}')">
					   </div>
					</div>
					<div class = "row">
					   <div class = "col amazona-colorlist-variant-name" ng-repeat="variant in group.variants">
							{{variant.name}}
						</div>
					</div>
					
				</ion-item>
				
			  
				<ion-item class="item-accordion" ng-show="isGroupShown(group)">
			  
					<button ng-show="group.composed===false" class="button button-block button-positive amazona-show-color-button" type="button" ng-click="showColor(group,-1)">SHOW COLOR</button>
					
					<div class="row amazona-no-padding" ng-show="group.composed===true">
						<div ng-show="(group.id_formulaX)>0" class="col">	
							<button class="button button-block button-positive amazona-show-color-button" type="button" ng-click="showColorComposed(group, group.id_formulaX)">SHOW {{group.code_formulaX}}</button>
						</div>
						<div ng-show="(group.id_formulaXp)>0" class="col">	
							<button class="button button-block button-positive amazona-show-color-button" type="button" ng-click="showColorComposed(group,group.id_formulaXp)">SHOW {{group.code_formulaXp}}</button>
						</div>
						<div ng-show="(group.id_formulaX2p)>0" class="col">
							<button class="button button-block button-positive amazona-show-color-button" type="button" ng-click="showColorComposed(group,group.id_formulaX2p)">SHOW {{group.code_formulaXpp}}</button>
						</div>
					</div>
					<div class="row amazona-no-padding" ng-show="group.composed===true">
						<div ng-show="(group.id_formulaY)>0" class="col">	
							<button class="button button-block button-positive amazona-show-color-button" type="button" ng-click="showColorComposed(group, group.id_formulaY)">SHOW {{group.code_formulaY}}</button>
						</div>
						<div ng-show="(group.id_formulaYp)>0" class="col">	
							<button class="button button-block button-positive amazona-show-color-button" type="button" ng-click="showColorComposed(group, group.id_formulaYp)">SHOW {{group.code_formulaYp}}</button>
						</div>
						<div ng-show="(group.id_formulaY2p)>0" class="col">	
							<button class="button button-block button-positive amazona-show-color-button" type="button" ng-click="showColorComposed(group, group.id_formulaY2p)">SHOW {{group.code_formulaYpp}}</button>
						</div>
					</div>
					<div class="row amazona-no-padding" ng-show="group.composed===true">
						<div ng-show="(group.id_formulaZ)>0" class="col">	
							<button class="button button-block button-positive amazona-show-color-button" type="button" ng-click="showColorComposed(group, group.id_formulaZ)">SHOW {{group.code_formulaZ}}</button>
						</div>
						<div ng-show="(group.id_formulaZp)>0" class="col">	
							<button class="button button-block button-positive amazona-show-color-button" type="button" ng-click="showColorComposed(group, group.id_formulaZp)">SHOW {{group.code_formulaZp}}</button>
						</div>
						<div ng-show="(group.id_formulaZ2p)>0" class="col">	
							<button class="button button-block button-positive amazona-show-color-button" type="button" ng-click="showColorComposed(group, group.id_formulaZ2p)">SHOW {{group.code_formulaZpp}}</button>
						</div>
					</div>
				</ion-item>
			</div>
			
		  </ion-list>
		  <ion-infinite-scroll
			ng-if="moreDataCanBeLoaded()"
			on-infinite="loadMore()"
			distance="1%">
		  </ion-infinite-scroll>
		  
	  <!--<ion-scroll>-->
  </ion-content>
</ion-view>
