<ion-view>
    <ion-content class="contactus has-header" overflow-scroll="false">
	<div class="row row-center contactus-header">
			<div class="col">
			<p>
			  Need our help?
			</p>
		</div>
	</div>
	
    <div class="row row-center">
		<div class="col">
			<div class="row row-center"><div class="col">
				<p>
				  We’re looking forward to assisting you with any questions or feedback you may have. 
				</p>
				<p>
				  Please don’t hesitate to contact us by using the following methods and we will get back to you at our earliest convenience.
				</p>
			</div></div>
			
			<div class="row row-center"><div class="col">
				<p> 
					<span>
					  <strong>Phone:</strong><br>
					</span>
					<span>
						<i class="icon ion-android-call"></i> 
						<a href="tel:+9619218656">
							&nbsp;+961 9 218 656
						</a>
					</span>
					<br><br>
					<span>
						<i class="icon ion-android-call"></i>
						<a href="tel:+9619218645">
							&nbsp;+961 9 218 645
						</a>
					</span>
				</p>
			</div></div>
			
			<div class="row row-center"><div class="col">
				<p>
					<span>
						  <strong>Fax:</strong><br>
					</span>
					<span>
						<i class="icon ion-printer"></i>
							&nbsp;+961 9 220215
					</span>
				</p>		
			</div></div>
			
			<div class="row row-center"><div class="col">
				<p>
					<span>
						  <strong>Email:</strong><br>
					</span>
					<span>
						<i class="icon ion-email"></i>&nbsp;
						<!--<a href="#" ng-click="sendEmail('info@happywallpaints.com')">info@happywallpaints.com</a>-->
						<a href="mailto:info@happywallpaints.com">info@happywallpaints.com</a>
					</span>
				</p>
			</div></div>
			
			<div class="row row-center"><div class="col">
				<p>
				  P.O.Box: 85 Zouk Mikael Lebanon
				</p>
			</div></div>
			
        </div>
	</div>
	
	</ion-content>
</ion-view>
