<ion-view>

    <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
    
    <ion-nav-title>
        <div class="bar bar-header">
            <h1 class="title">
                <div class="amazona-ellipsis">
                    <span>{{formData.formula.colorCode}}</span>
                    <span class="amazona-separation-bar">|</span>
                    <span>{{formData.formula.name_formula}}</span>
                    <span class="amazona-separation-bar">|</span>
                    <span>{{formData.formula.carName}}</span>
                </div>
            </h1>
        </div>
    </ion-nav-title>
    
    <ion-nav-buttons side="right">
        <button class="button button-clear amazona-logout-button" ng-click="doLogout()">
            <i class="icon ion-log-out"></i>
        </button>
    </ion-nav-buttons>


  <ion-content class="amazona-details amazona-details-left-right-padding has-header" overflow-scroll="false">
	<ion-list class="amazona-details-main-list  amazona-box-shadow">
		<ion-item class="amazona-no-padding">
			<div class="list">
				<!------------------------ -->		
				<div class="row amazona-no-padding">
					<div class="col amazona-no-padding">
						<label class="item item-input item-stacked-label amazona-padding-right-2">
							<span class="input-label">Total Qty:</span>
							<input class="amazona-input total-qty" type="text" ng-disabled="formData.mode === 'Co'" placeholder="Enter quantity" ng-model="formData.totalQuantity">
							<div class="error-container" ng-show="isNotNumeric(formData.totalQuantity)">
							  <div class="error">
								<i class="ion-information-circled"></i> 
								*Numeric
							  </div>
							</div>
						</label>
					</div>
						<!------------------------ -->	
					<div class="col amazona-no-padding">
						<label class="item item-input item-stacked-label">
							<span class="input-label">Mod. Date:</span>
							<input class="amazona-input" disabled type="text" placeholder="" ng-model="formData.formula.Date_cre_mod">
						</label>
					</div>
				</div>
			</div>
		</ion-item>
		<!------------------------ -->	
		<!------------------------ -->	
		<ion-item class="amazona-no-padding {{formData.overflowItem}}">
			<div class="list">
				<!------------------------ -->		
				<div class="row amazona-no-padding">
					<div class="col col-33">
						<label class="item item-input item-stacked-label">
							<span class="input-label">Hue:</span>
							<input class="amazona-input" type="text" disabled placeholder="" ng-model="formData.formula.version">
						</label>
					</div>
					<!------------------------ -->	
					<div class="col col-33 amazona-no-padding amazona-padding-left-2">
						<div class="amazona-details-img-wrapper">
							<img class="{{formData.carImgClass}}" src="img/garage/{{formData.formula.carImgPath}}" ng-click="toggleImageView()"></h1>
						</div>
					</div>
					<!------------------------ -->	
					<div class="col col-33 amazona-no-padding amazona-padding-left-2  amazona-kilo-litre-div">
						<div class="row amazona-no-padding">
							<div class="col">
								<ion-radio name="weight" ng-model="formData.weight" ng-disabled="formData.mode === 'Co'" ng-value="'K'">Kilo</ion-radio>
								<ion-radio name="weight" ng-model="formData.weight" ng-disabled="formData.mode === 'Co'" ng-value="'L'">Litre</ion-radio>
							</div>
						</div>
					</div>
				</div>
				<div class="row amazona-no-padding amazona-detail-mode-bar">
					<div class="col col-33 amazona-no-padding">
						<ion-radio name="mode" ng-model="formData.mode" ng-value="'No'" ng-click="doNormal()">Normal</ion-radio>
					</div>
					<div class="col col-33 amazona-no-padding">
						<ion-radio name="mode" ng-model="formData.mode" ng-value="'Cu'" ng-click="doCumulative()">Cumulative</ion-radio>
					</div>
					<div class="col col-33 amazona-no-padding">
						<ion-radio name="mode" ng-model="formData.mode" ng-value="'Co'" ng-click="doCorrection()">Correction</ion-radio>
					</div>
				</div>
			</div>
		</ion-item>
		<!------------------------ -->	
		<ion-item class="amazona-no-padding {{formData.overflowItem}}">
			
		</ion-item>	
    </ion-list>
	<ion-scroll zooming="true" direction="xy" style="width: 100%;height:100%" overflow-scroll="false">
		<div class="amazona-details-colorlist" style="height:{{formData.canvasHeight}}px" on-double-tap="cancelZoom()">
			<ion-list ng-show="formData.mode === 'No'">
				<div class="row normal-mode amazona-detail-color-selected" ng-repeat="bColor in formData.bColorsNormal" tabindex="1">
					<div class="col col-10 amazona-details-bcolor" style="background-image:url(img/garage/{{bColor.colorImgPath}})"></div>
					<div class="col col-60 colorName">
						<input class="amazona-input amazona-detail-color-font" type="text" disabled value="{{bColor.name_color}}">
					</div>
					<div class="col col-30 colorQty">
						<input class="amazona-input amazona-detail-color-font" type="text" disabled 
							value="{{(bColor.quantite * formData.totalQuantity)  | roundNumber}}" ng-show="formData.weight==='L'">
						<input class="amazona-input amazona-detail-color-font" type="text" disabled 
							value="{{(bColor.quantite * formData.totalQuantity * bColor.toKiloConverter) | roundNumber}}" ng-show="formData.weight==='K'">
					</div>
				</div>
			</ion-list>
			<ion-list  ng-show="formData.mode === 'Cu'">
				<div class="row cumulative-mode amazona-detail-color-selected" ng-repeat="bColor in formData.bColorsCumulative" tabindex="1">
				
					<div class="col col-10 amazona-details-bcolor" style="background-image:url(img/garage/{{bColor.colorImgPath}})"></div>
					<div class="col col-60 colorName">
						<input class="amazona-input amazona-detail-color-font" type="text" disabled value="{{bColor.name_color}}">
					</div>
					<div class="col col-30 colorQty">
						<input class="amazona-input amazona-detail-color-font" type="text" disabled 
							value="{{(bColor.quantite * formData.totalQuantity) | roundNumber}}" ng-show="formData.weight==='L'">
						<input class="amazona-input amazona-detail-color-font" type="text" disabled 
							value="{{(bColor.quantite * formData.totalQuantity * bColor.toKiloConverter) | roundNumber}}" ng-show="formData.weight==='K'">
					</div>
				</div>
			</ion-list>
			<ion-list  ng-show="formData.mode === 'Co'">
				<div ng-repeat="bColor in formData.bColorsCorrection" class="amazona-detail-color-selected" tabindex="1">
					<div class="row correction-mode-diff amazona-no-padding amzona-details-no-border"  ng-show="bColor.diff !== '0'">
						<div class="col amazona-no-padding">
							<span ng-bind="bColor.diff"></span>
						</div>
					</div>
					<div class="row correction-mode" >
						<div class="col col-10 amazona-details-bcolor" style="background-image:url(img/garage/{{bColor.colorImgPath}})"></div>
						<div class="col col-60 colorName">
							<input class="amazona-input amazona-detail-color-font" type="text" disabled value="{{bColor.name_color}}">
						</div>
						<div class="col col-30 colorQty">
							<form ng-submit="calculateCorrection($index)">
								<input class="amazona-input amazona-detail-color-font" type="text" ng-model="bColor.quantite">
							</form>
						</div>
					</div>
				</div>
			</ion-list>
		</div>
	</ion-scroll>	
  </ion-content>
</ion-view>
