<ion-view>
	<ion-header-bar>

		<ion-nav-bar class="bar-stable">
			
			<ion-nav-title>
				<div class="bar bar-header">  
					<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
					</button>
					<h1 class="title">
						<a href="mailto:info@happywallpaints.com" class="amazona-email-home">
							<i class="icon ion-email"></i>
						</a>
						
						<a href="tel:{{chosenGarage.tel}}" class="amazona-tel-home">
							<i class="icon ion-android-call"></i>
						</a>
					</h1>

					<button class="button button-clear amazona-logout-button" ng-click="doLogout()">
						<i class="icon ion-log-out"></i>
					</button>
					
				</div>
			</ion-nav-title>
			
		</ion-nav-bar>
		
	</ion-header-bar>
	<ion-content overflow-scroll="false">

	<ion-slide-box>
	  <ion-slide>
			<img class="amazona-slide-image" src="img/garage/logos/{{logoImg}}" onerror='this.onerror = null; this.src="img/garage/logos/0logo.jpg"'>
	  </ion-slide>
	  <ion-slide>
			<img class="amazona-slide-image" src="img/core/Picture 1.jpg">
	  </ion-slide>
	  <ion-slide>
			<img class="amazona-slide-image" src="img/core/Picture 2.jpg">
	  </ion-slide>
	  <ion-slide>
			<img class="amazona-slide-image" src="img/core/Picture 3.jpg">
	  </ion-slide>
	  <ion-slide>
			<img class="amazona-slide-image" src="img/core/Picture 4.jpg">
	  </ion-slide>
	  <ion-slide>
			<img class="amazona-slide-image" src="img/core/Picture 5.jpg">
	  </ion-slide>
	</ion-slide-box>


    <div class="home-button-div">
		<div class="button-bar amazona-home-button-bar">
			<button class="button amazona-home-button" ng-click="goToSearch()">
				 <i class="icon icon-center ion-search"></i> 
				 <span>Search Colors</span>
			</button>
		</div>
		<div class="button-bar amazona-home-button-bar">
			 <button class="button amazona-home-button" ng-click="goToSettings()">		   
				<i class="icon icon-center ion-settings"></i> 
				<span>Settings</span>
			</button>
		</div>
	</div>
	</ion-content>
</ion-view>
